<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="customer_login">
		<observer name="sem_testosberver_observer_customer_login_customer_login" instance="Sem\TestOsberver\Observer\Customer\Login"/>
	</event>
</config>
