<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Sem\Grid\Api\Data\GridInterface" type="Sem\Grid\Model\Grid" />
    <preference for="Sem\Grid\Api\Data\GridSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="Sem\Grid\Api\GridManagementInterface" type="Sem\Grid\Model\GridManagement"/>

    <virtualType name="Sem\Grid\Model\ResourceModel\Grid\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">sem_grid_records</argument>
            <argument name="resourceModel" xsi:type="string">Sem\Grid\Model\ResourceModel\Grid</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="grid_record_grid_list_data_source" xsi:type="string">Sem\Grid\Model\ResourceModel\Grid\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
